@model BhumangalFarm.Models.Plot

@{
    ViewBag.Title = "GetAdvancePaymentReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("GetAdvancePaymentReport", "Admin", FormMethod.Post, new { @id = "form1" }))
{

    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Reports</li>
            <li class="breadcrumb-item">Advance Payment Report</li>
        </ul>
    </section>
    <div class="section-body">
        <div class="card">
            <div class="card-header">
                <h4>Advance Payment Reports</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>LoginId</label>
                            @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Search by LoginId" })
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>From Date</label>
                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @readonly = "true" })

                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>To Date</label>
                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @readonly = "true" })

                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <br />
                            <input class="btn btn-primary mr-1" type="submit" value="Search" id="btnSearch" name="Search" />
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>LoginID</th>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Payment Date</th>
                                <th>Payment Mode</th>
                                <th>Bank Name</th>
                                <th>Bank Branch</th>
                                <th>Transaction No</th>
                                <th>Transaction Date</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstadvPayment != null)
                                {
                                    int i = 1;
                                    foreach (var Item in Model.lstadvPayment)
                                    {
                                        <tr class="text-left">
                                            <td>@i</td>
                                            <td>@Item.LoginId</td>
                                            <td>@Item.Name</td>
                                            <td>@Item.Amount</td>
                                            <td>@Item.PaymentDate</td>
                                            <td>@Item.PaymentMode</td>
                                            <td>@Item.BankName</td>
                                            <td>@Item.BankBranch</td>
                                            <td>@Item.TransactionNumber</td>
                                            <td>@Item.TransactionDate</td>
                                            <td>@Item.Remark</td>

                                        </tr>
                                        i++;
                                    }
                                }
                            }

                        </tbody>
                        @*<tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Total :-</th>
                                <th>@ViewBag.GrossAmount</th>
                                <th>@ViewBag.DirectIncome</th>
                                <th>@ViewBag.DifferentialIncome</th>
                                <th>@ViewBag.DirectLeadershipIncome</th>
                                <th>@ViewBag.TDS</th>
                                <th>@ViewBag.Processing</th>
                                <th>@ViewBag.NetAmount</th>
                            </tr>
                        </tfoot>*@
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/WebsiteCss/js/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy'
    })
    $('#ToDate').datepicker({
        format: "dd/mm/yy"
    })

</script>

